# Dependencies
node_modules/

# Build
dist/

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Prisma
prisma/migrations/**/migration_lock.toml

# OS
.DS_Store
Thumbs.db

# Firebase
credentials/
*.json
!package.json
!package-lock.json
!tsconfig.json